.delis{
    display:grid;
    grid-template-columns: 100px  100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px  100px 100px 100px 100px 100px 100px 100px;
    
}

.kaste{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.white{
background-color: #f0d9b5 ;
}

.black{
background-color: #b58863 ;
}